{% extends 'base.html'%} {%block content%}
<div class="container">
  <div
    class="row row-cols-1 row-cols-sm-1 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 justify-content-center"
    id="gameRow"
  >
    {%for game in data%}
    <div class="col">
      <img src="{{ game.thumb }}" class="card-img-top" alt="..." />

      <div class="card-body">
        <h5 class="card-title text-truncate">{{game.external}}</h5>

        <p class="card-text">
          <strong
            >Cheapest Price<b class="price"> ${{game.cheapest}}</b></strong
          >
        </p>

        {%if g.user %}
        <a
          href="/add_whislist?gameId={{game.gameID}}&storeId={{game.storeID}}&dealID={{game.cheapestDealID}}&savings={{game.savings}}"
          class="btn btn-outline-success p-1"
          >Add to Wishlist</a
        >
        {%else%}<a href="/login" class="btn btn-outline-success p-1"
          >Login Add to Wishlist</a
        >{%endif%}
      </div>
    </div>
    {%endfor%}
  </div>
</div>
{%endblock%}
